:root{
--fundo-principal: #f5f5f5;
--texto: #000000;
--texto-inverso: #8B021B;
--destaque: #41C0F2;
--destaque-inverso: #400118;
--fundo-card: #eeeaea5c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
  transition: background-color .4s, color .4s;
}

body.escuro{
--fundo-principal: #0D0B0C;
  --fundo-card: #161113;

  --texto: #F2F2F2;   
  --texto-inverso: #8B021B;

  --destaque: #B30E2D;  
  --destaque-inverso: #41C0F2;   
}
header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}
nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.4s, color 0.4s;
}
nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}
main{
  display: grid;
  grid-template-columns: auto 90vw auto; 
  gap: 20px;
  margin-top: 15px;
}
section#ficha{
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}
section#ficha h1{
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: center;
}
div#social{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: .8em;
  margin-top: 15px;
}
div#social a{
  color: var(--destaque);
  transition: color 0.5s;
}
div#social a:hover{
  color: var(--destaque-inverso);
}
section#detalhes{
  grid-column: 2;
}
article{
  background-color: var(--fundo-card);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
article h2{
  color: var(--destaque);
  margin-bottom: 20px;
}
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
#skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skill-container .nome{
  font-weight: bold;
  color: var(--texto);
}
#skill-container .porcent{
  font-weight: bold;
  color: var(--destaque);
}
#skill-container .barra{
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}
#skill-container .progresso{
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;

}
#formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}
#formacao-container .curso{
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-width 0.5s, border-color 0.5s;
}
#formacao-container .curso:hover{
  border-left-width: 15px;
  border-color: var(--destaque);
  color: var(--destaque);
  cursor: pointer;
}
#formacao-container .periodo{
  font-size: .8em;
  font-weight: bold;
  color: var(--texto);
}
#formacao-container .instituicao{
  color: var(--texto-inverso);
  font-size: 1.1em;
}

#cursos-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#cursos-container .curso{
  background-color: var(--fundo-card);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding: 15px;
  padding-left: 15px;
  transition: border-width 0.5s, border-color 0.5s;
}

#cursos-container .curso:hover{
  border-left-width: 15px;
  border-color: var(--destaque);
  color: var(--destaque);
  cursor: pointer;
}

#cursos-container .periodo{
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#cursos-container .instituicao{
  color: var(--texto-inverso);
  font-size: 1.1em;
  margin-bottom: 5px;
}

#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}
#projeto-container .projeto{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition: border-color .5s, border-width .5s;
}

#projeto-container .projeto:hover{
  border-color: var(--destaque);
  border-left-width: 15px;
  cursor: pointer;
}

#projeto-container .foto{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

#projeto-container h3 a{
    text-decoration: none;
    font-weight: bold;
    color: var(--texto-inverso);
    background-color: var(--fundo-card);
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 0.4s, color 0.4s;
}
#projeto-container h3 a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);

}

footer{
  background-color: var(--destaque);
  color: var(--texto);
  text-align: center;
  padding: 15px;
}

footer a{
  color: var(--texto);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover{
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px){
  main{
    grid-template-columns: auto 300px 1fr auto;
  }
  section#ficha{
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 55px;
  }
  section#detalhes{
    grid-column: 3 / 4;
  }
  #skill-container{
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
  }

    #projeto-container .projeto-info{
      max-width: 80%;
    }

    #projeto-container .foto{
      aspect-ratio: 1/1;
      max-width: 20%;
      max-height: 200px;
    }
}
